body {
  background-color: #557a95;
}

#Navbar {
  background-color: #b1a296;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.nav-link {
  color: white;
}

h1 {
  color: #5d5c61;
  margin-top: 40px;
}

img {
  background-color: #b1a296;
  height: 300px;
  width: 300px;
}

#main {
  background-color: #b1a296;
  padding: 40px;
  margin: 20px;
  width: 100%;
}

#Samples {
  background-color: #b1a296;
  width: 100%;
  position: static;
}

form {
  padding: 20px;
  margin: 20px;
  width: 100%;
  background-color: #b1a296;
  color: #5d5c61;
}

.col-md-6 {
   float: right;
}

footer {
  width: 100%;
  padding: 10px;
  margin: 10px;
  bottom: 10px;
  left: 10px;
  right: -40px;
  font-weight: bold;
  background-color: #b1a296;
  color: #5d5c61;
}
#footerBody {
  padding: 5px;
}

#copyright {
  text-align: center;
  padding-top: 20px;
}

#phoneNumHead, #phoneNum, #emailHead, #email {
  text-align: center;
}


@media screen and (max-width: 400px) {
  .row {
    width: 100%;
    word-wrap: normal;
  
  }

  .col-md-8{
    margin: 10px;
  }

  #main{
      margin: 10px;

  }

 section {
     width: 100%;
 }

  form {
      width: 100%;
      margin-left: 10px;
  }

  footer {
      padding: 10px;
      margin: 10px;
  }
}
