body {
  background-color: #557a95;
}

#Navbar {
  background-color: #b1a296;
}

.navbar-brand {
  font-weight: bold;
  color: white;
}

.nav-link {
  color: white;
}

h1 {
  color: #5d5c61;
  margin-top: 40px;
}

#brianPic {
  background-color: #b1a296;
  height: 500px;
  width: auto;
}

#beerConc {
  height: 250px;
  width: 450px;
  padding-left: 15px;
  padding-top: 5px;
}

#beerConcBody {
margin-left: 100px;
padding-right: 100px;
padding-left: 50px;
padding-top: 20px;
}

#firstCard {
  margin: 15px;
}

#secondCard {
  margin: 15px;
  left: 15px;
}

#passGen {
  height: 325px;
  width: 450px;
  padding-left: 15px;
  padding-top: 5px;
}

#passGenBody {
  margin-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-left: 50px;
}

#main {
  background-color: #b1a296;
  padding: 40px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

#Samples {
  background-color: #b1a296;
  width: 100%;
  position: static;
}

form {
  padding: 20px;
  margin: 20px;
  width: 100%;
  background-color: #b1a296;
  color: #5d5c61;
}

.col-md-6 {
   float: right;
}

footer {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background-color: #b1a296;
  color: #5d5c61;
}

#copyright {
  text-align: center;
  padding-top: 20px;
}

#phoneNumHead, #emailHead, #phoneNum, #email {
  text-align: center;
}



@media screen and (max-width: 400px) {
  .row {
    width: 100%;
    word-wrap: normal;
  
  }

  .col-md-8{
    margin: 10px;
  }

  #main{
      margin: 10px;
      
  }

 section {
     width: 100%;
 }

  form {
      width: 100%;
      margin-left: 10px;
  }

  footer {
      padding: 10px;
      margin: 10px;
  }

  #email {
    word-break: break-all;
  }

  #beerConc {
    height: 100%;
    width: 100%;
    padding: 15px;
  }

  #beerConcBody {
    margin: 10px;
    padding: 20px;
    }

    #passGen {
      height: 100%;
      width: 100%;
      padding: 15px;
    }
    
    #passGenBody {
      margin: 10px;
      padding: 20px;
    }

    #firstCard {
      margin: 15px;
      left: 15px;
    }
    
    #secondCard {
      margin: 15px;
      left: 30px;
    }
}
